.dropbox
From CJ
Girls in STEM biophysics workshop ideas.odt
Mech*
*.html
*.svg
*.mp4
*.pdf
moran-simulation/*.gif
moran-simulation/*.png
moran-simulation/.ipynb_checkpoints
moran-simulation/frames
moran-simulation/image_list.txt
